# Environment Config
# Store  secrets and config variables in here, only invited
# collaborators will be able to see your .env values
# reference these in your code with process.env.SECRET_NAME

OPENWEATHER_API_ENDPOINT="https://api.openweathermap.org"
OPENWEATHER_API_KEY="YOUR_API_KEY"
OPENWEATHER_API_URI="API_ENDPOINT/data/2.5/onecall?lat=LAT&lon=LON&units=metric&appid=API_KEY"

TOKEN_AUTH_ID="RANDOM_TOKEN"

# get from Firebase Console > Project Settings > Cloud Messaging
FCM_SERVER_KEY="YOUR_SERVER_KEY"

# note: .env is a shell file so there can't be spaces around =
